:root {
  --background: #ffffff;
  --foreground: #171717;
}

.container {
  max-width: 800px;
  margin: 0 auto 30px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #202020;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

/* Body */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main {
  margin-bottom: 50px;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  gap: 65px;
  width: 100%;
  height: 50px;
  align-items: center;
  background: #121212;
  color: var(--background);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  text-align: center;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px 0 20px 0;
  background: #121212;
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
