:root {
  --background: #ffffff;
  --foreground: #171717;
}

.container {
  max-width: 800px;
  margin: 0 auto 30px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #202020;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

/* Body */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main {
  margin-bottom: 50px;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  gap: 65px;
  width: 100%;
  height: 50px;
  align-items: center;
  background: #121212;
  color: var(--background);
}

.active {
  color: #c97d58;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 18px;

  transition: all 0.2s ease;
}

a:hover {
  color: #c97d58;
  font-size: 18.5px;
}

ul {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  text-align: center;
}

/* Форма поиска */
form {
  margin: 0 auto;
  margin-bottom: 20px;
}

.search__form {
  display: flex;
  position: relative;
  width: 300px;
  height: 40px;
  border-radius: 50px;
  background-color: #503122;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
  transition: all 0.3s ease;
}

.search__wrapper {
  position: relative;
  flex: 1;
  height: 100%;
}

.search__input {
  border: none;
  background: transparent;
  padding: 10px 45px 10px 20px;
  width: 100%;
  height: 100%;
  outline: none;
  color: white;
  font-size: 16px;
}

.search__input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search__clear {
  position: absolute;
  right: 85px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
  z-index: 2;
}

.search__clear:hover {
  color: white;
}

.search__button {
  cursor: pointer;
  background: #654b35;
  border: none;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 8px 15px;
  border-radius: 20px;
  color: white;
  font-size: 14px;
  transition: all 0.3s ease;
  z-index: 3; /* Чтобы кнопка была поверх крестика */
}

.search__button:hover {
  background: #7a5a3e;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px 0 20px 0;
  background: #121212;
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
